﻿<!DOCTYPE html>

<html ng-app="webglApp" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WebGL Tool</title>
    <link rel="stylesheet" href="app/css/app.css" type="text/css" />

    <!-- Bootstrap CSS Library-->
    <link rel="stylesheet" href="include/bootstrap/css/bootstrap.min.css" type="text/css" />
    <script src="include/angularjs/angular.js"></script>

    <!-- Create new module called webglApp-->
    <script>
        var webglApp = angular.module("webglApp", [])
    </script>

    <!-- Declare all controller files-->
    <script src="app/controllers/webglApp.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body ng-controller="exploreDropDownCtrl">
    <div class="container">

        <!-- Default navbar -->
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ng-click="selectView('Home')">WebGL Tool</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li ng-class="active"><a ng-click="selectView('Home')">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Explore <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="link in webgl.dropdown">
                                    <a ng-click="selectView(link.name)">{{link.name}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>

        <div class=".row">
            <ng-include src="webgl.view.url"></ng-include>
        </div>

    </div>
</body><!--/ng-controller="exploreDropDownCtrl"-->
<!-- jQuery Script Library (necessary for Bootstrap's JavaScript plugins) -->
<script src="include/jquery/jquery-2.1.1.min.js"></script>
<!-- Bootstrap Script Library -->
<script src="include/bootstrap/js/bootstrap.min.js"></script>
<!-- D3 library -->
<script src="include/d3/d3.v3.js"></script>
</html>
